*{
    margin: 0;
    padding: 0;
}
body{
   background-color: #F0EFE7;
   color: #212121;
}
p{
    text-align: justify;
    max-width: 60%;
}
li{
    margin-top: 30px;
}
#navigation{
    margin-left: 13% !important;
}
#form{
    margin-top: 2%;
    margin-left: 7%;
}
#input{
    margin-top: 5px;  
}
#btn-primary{
    margin-top: 13px;
}
label{
    margin-top: 10px;
    margin-bottom: 3px;
}
#title-terms{
    margin-top: 25px;
    margin-left: 200px;
}
#table-users{
    margin-top: 30px !important;
}
#delH1{
    margin-left: 375px;
    margin-top: 15%;
    font-weight: 700;
    font-size: 50px;
}
#delP{
    margin-left: 397px;
    margin-top: 2%;
    font-size: 17px;
}
#del-btn{
    margin-left: 450px;
    margin-top: 3%;
    width: 150px;
    padding: 10px;
}
#delA > a{
    text-decoration: none;
    color: #212121;
    background-color: #dad2d2;
    padding: 3px;
}
#delA{
    margin-left: 500px;
    margin-top: 10%;
}
#termsA > a{
    text-decoration: none;
    color: #F0EFE7;
    background-color: #212121;
    margin-left: 200px;
    padding: 3px;
}