*{
    margin: 0;
    padding: 0;
}
body{
   background-color: #F0EFE7;
   color: #212121;
}
p{
    text-align: justify;
    max-width: 60%;
}
li{
    margin-top: 30px;
}
#navigation{
    margin-left: 13% !important;
}
#form{
    margin-top: 2%;
    margin-left: 7%;
}
#input{
    margin-top: 5px;  
}
#btn-primary{
    margin-top: 13px;
}
label{
    margin-top: 10px;
    margin-bottom: 3px;
}
#title-terms{
    margin-top: 25px;
    margin-left: 200px;
}
#table-users{
    margin-top: 30px !important;
}